* {
    padding: 0px;
    margin: 10px;
    justify-items: center;
  }

.square {
    background: rgb(35, 35, 35);
    border-radius: 5px;
    display: grid;
    min-height: 35px;
    min-width: 35px;
    max-width: 1250px;
    margin: 5px;
flex-direction: column;
    transition: background 0.29s;
}


.square:hover {
    background: rgb(40, 40, 40);
}

.square2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(35, 35, 35);
    box-shadow: white;
    border-radius: 3px;
    transition: background 0.29s;
    min-height: 35px;
    min-width: 35px;
    max-width: 1250px;
    margin: 5px;
    
}
.square2:first-child {
    flex: 2;
    padding: 25px;
    margin: 20px;
}

.square2 div {
    padding: 25px;
    margin: 25px;
  }


.square2:hover {
    background: rgb(40, 40, 40);
}
.square3 {
    background: rgb(35, 35, 35);
    width: 900px;
    height: 350px;
    min-height: 35px;
    min-width: 35px;
    box-shadow: white;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 5px rgb(20, 20, 20);   
    margin: 0px 10px 15px;
    display: grid;
    transition: background 0.29s;
    
    
}


.square3:hover {
    background: rgb(40, 40, 40);
}
.Contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    margin: 0 auto;
}
.Contenedor2 {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
    align-items:center;
}