@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.familiatexto1 {
    color:#9b9b9b;
    font-family: 'Poppins Medium';
    border-radius: 8px;
    text-shadow: turquoise;
    text-decoration: dotted;
    text-align: center;
    background-color: rgb(40, 40, 40);
    
    display:flex;
    justify-items: center;
    justify-content: center;
    align-self:flex-start;
    align-items: center;

}	
    .familiatexto2 {
    color:#9b9b9b;
    font-family: 'Quicksand', sans-serif;
    border-radius: 0px;
    text-shadow: turquoise;
    text-decoration: dotted;
    text-align: left;
    background-color: #232323;
    padding: 0.7%;
}
    .familiatexto3 {
    color:#9b9b9b;
    font-family: 'Quicksand', sans-serif;
    border-radius: 3px;
    text-shadow: turquoise;
    text-decoration: dotted;
    text-align: left;
    background-color: #282828;
    padding: 0.4%;
}
    .familiatexto4 {
    color:rgb(200, 200, 200);
    font-family: 'Poppins Medium';
    border-radius: 8px;
    text-shadow: turquoise;
    text-decoration: dotted;
    text-align: center;
    background-color: #282828;
    padding: 0.7%;
    width: 200px;
    display: flex;

    
    }
    .familiatexto5 {
    font-size: 30px;
    color:rgb(200, 200, 200);
    font-family: 'Quicksand Medium', sans-serif;
    border-radius: 8px;
    text-shadow: turquoise;
    text-decoration: dotted;
    text-align: center;
    background-color: #282828;
    height: 35px;
    
    display: flex;
    margin: 10px 60px;
    justify-content: center;

    
    }
    .familiatexto6 {
        color:rgb(200, 200, 200);
        font-family: 'Quicksand', sans-serif;
        opacity: 0.8;
        height: 35px;
        margin: -140px 25px ;
  
         
        justify-content: start;
    
        
        }