body{
    background-color:   #151515;
    margin:0px;
    
}   


      /* Code Element */
.AN{
  /* Transision Code */
      transition: Color 0.29s;

  /* Design Code */
        color:gray;
        position: fixed;
        bottom: 0;
        font-family: 'Poppins Medium';
        text-shadow: turquoise;
        text-decoration: dotted;
        background-color: #282828;
        width:100%;
        justify-items: end;
        display: flex;
        justify-content: center;
        align-items: end;
        font-size: 14px;
    
    }
    
 /* Element Event */
.AN:hover{
   /* Color To */
    Color: rgb(175, 175, 175)

}
