.imagen {
    
    height: 50px;
    float: left;
    font-family: 'Quicksand Medium';
    
}
.imagen2 {
   
    height: 80%;
    width: 40.5%;
    padding: 1px;
    float: right;
    margin: 0%;
    display: flex;
    transition: height 0.29s;
    transition: width 0.29s;
    
    

}
.imagen2:hover {
    height: 80%;
    width: 45%;
}
.imagen3 {
 
    height: 75%;
    width: 25%;
    padding: 2px;
    float: left;
    margin: 0px 0px 0px 0px;

}
.imagen4 {
    
    height: 95%;
    width: 100%;
    padding: 2px;		
    margin: 0px 15px;
    transition: height 0.29s;
    transition: width 0.29s;
}

.imagen4:hover {
    height: 100%;
    width: 105%;
}